@import "./reset.scss";

body{
  color: rgba(68, 68, 68);
}

main{
  height: 100vh;
  margin: auto;
  max-width: 980px;
  width: 100%;
}

.nav{
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 980px;
  padding: 12px 24px;
  width: 100%;
  h1,
  p{
    font-size: 18px;
  }
}

.container{
  padding: 20px 24px 0;
}
